<template name="homepage">
    <div class="container-fluid">
        <div class="page-header">
        <h1>{{title}}</h1>
        </div>
        {{#if showListDialog}}
            {{> doodle}}
        {{/if}}
        <button class="btn btn-large btn-success addList">Neue Doodle Erstellen</button>
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Datum</th>
                    <th>Wo</th>
                </tr>
            </thead>
            <tbody>
                {{#each lists}}
                    {{> listRow}}
                {{/each}}
            </tbody>
        </table>
    </div>
</template>

<template name="listRow">
    <tr class="listRow">
        <td>{{name}}</td>
        <td>{{formatDate when}}</td>
        <td>{{place}}</td>
    </tr>
</template>

<template name="doodle">
    <div id="modal" class="modal">
    <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    </div>
    <div class="modal-body">
        <label for="name">Name</label><input type="text" class="input input-xlarge name" name="name" value="{{list.name}}" id="name">
        <label for="when">Datum</label><input class="when" type="date" name="when" value="{{list.when}}" id="when">
        <label for="place">Wo</label><input type="text" class="input input-xlarge place" name="place" value="{{list.place}}" id="place">
    </div>
    <div class="modal-footer">
        {{#if editingList}}
            <a href="#" class="btn btn-danger remove">Loeschen</a>
            <a href="#" class="btn btn-warning save">Aktualisieren</a>
        {{else}}
            <a href="#" class="btn btn-success save">Speichern</a>
        {{/if}}
    <a href="#" class="btn cancel" data-dismiss="modal">Abbrechen</a>
    </div>
    {{>participantList}}
    </div>
</template>

<template name="participantList">
    <form method="GET" id="participantForm"></form>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Wahl</th>
            </tr>
        </thead>
        <tbody>
            {{#each participants}}
                {{> participant}}
            {{/each}}
            <tr>
                <td><input type="text" name="participantName" form="participantForm" class="participantName"></td>
                <td>
                    <select name="vote" id="vote" class="vote" form="participantForm">
                        <option value="ja">Ja</option>
                        <option value="vielleicht">Vielleicht</option>
                        <option value="nein">Nein</option>
                    </select>
                </td>
                <td><button type="button" form="participantForm" class="btn btn-success participantSave">OK</button></td>
            </tr>
        </tbody>
    </table>
</template>

<template name="participant">
    <tr>
        <td>{{participantName}}</td>
        <td>{{vote}}</td>
        <a href="#" class="btn btn-danger removeParticipant" data-id="{{participantId}}">Entfernen</a>
    </tr>
</template>